{% extends 'blogApp/base.html' %}
{% load static %}
{% block main_content %}
{% load crispy_forms_tags %}



<section class="main-slider rev_slider_wrapper centred">
    <div class="container-fluid">
          
         Forget Your Password
       
        <h1>Forget Your Password</h1> 
    
    
        <P>Enter your email address below. and we'll email instructions for setting a new one</P>
      
        <form method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Send Info!">

        </form>
   </div>
    <br><br>
    
    <div class="container">
    
     
      </div>

</section>


    
{% endblock %}