{% load static %}

<footer class="footer-style-four centred">
    <div class="container">
        <div class="social-style-five in-block">
            <div class="single-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <div class="text">FACEBOOK <br />35,680</div>
            </div>
            <div class="single-social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <div class="text">TWITTER <br />10,840</div>
            </div>
            <div class="single-social">
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <div class="text">LINKEDIN <br />7,237</div>
            </div>
            <div class="single-social">
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <div class="text">PINTEREST <br />6,992</div>
            </div>
            <div class="single-social">
                <a href="#"><i class="fa fa-instagram"></i></a>
                <div class="text">INSTAGRAM <br />4,407</div>
            </div>
        </div>
        <div class="copyright">Copyrights © 2018 <a href="#">soalinks</a>. All rights reserved</div>
    </div>
</footer>
<!-- footer-style-four end -->






<!--jquery js -->
